/* Add mobile styles for the component here.  */
.context{
  border-width: 0.4;
  border-color: #333333;
  margin-top: 15px;
  height: 500;
  font-size: 18;
  padding: 10;
}
ActionBar{
  background-color: white;
}
ActionBar>FlexboxLayout>Label{
  color: black;
  font-size: 22;
  margin-right: 20;
  margin-left: 20;
}
TextField{
  padding: 10;
  font-size: 20;
  border-bottom-color: #333333;
  margin-top: 15;
  font-weight: bold;
}
.submit{
  margin-top: 15;
  padding: 15;
  font-size: 16;
  text-transform: uppercase;
  color: black;
}
.title{
  font-size: 30;
  color: darkblue;
  text-transform: uppercase;
  text-align: center;
}
