ActionBar{
  background-color: white;
}
ActionBar>FlexboxLayout>Label{
  color: black;
  font-size: 22;
  margin-right: 20;
  margin-left: 20;
}
.list{
  border-bottom-width: 0.4;
  border-bottom-color: #333333;
  padding: 10;
  margin: 10;
}
.list>Label{
  font-size: 18;
  text-transform: uppercase;
  text-align: center;
}
.title{
  font-size: 30;
  color: darkblue;
  text-transform: uppercase;
  text-align: center;
  padding: 10;
  border-bottom-color: #333333;
  border-bottom-width: 0.3;
}

